# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
venv/
.env

# -----------------------------
# Frontend
# -----------------------------
node_modules/
build/
dist/

# -----------------------------
# OS / Editor junk
# -----------------------------
.DS_Store
Thumbs.db
.~lock.*

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Allow datasets
# -----------------------------
!*.csv
